{% extends 'base.html' %}

{% block title %} Welcome to the survey page! {% endblock %}

{% block content %}
<h1>Hello there!</h1>
<p>Boy Howdy do we have some surveys for you! Please be patient, our site is under construction,
    but for now, we have one survey for you! Get after it!
</p>

<a href="/survey/0">The first survey!</a>
<hr>
<br>
<h3>The below is under construction. Wear a hardhat while using!</h3>
<form action="/start" method="post">
    <label for="surveys">Choose a survey:</label>

    <select name="surveys" id="survey-list">
    {% for key in surveys.keys()%}
    <option value="{{key}}">{{key}}</option>
    {% endfor %}

</select>
<input type="submit" value="Submit">
</form>

{% endblock %}