{% extends 'base.html' %}
{% block title %}Survey{% endblock %}

{% block content %}
<h1>{{page_dict['title']}}</h1>
<h3>{{page_dict['instructions']}}</h3>

{% for msg in get_flashed_messages() %}
<p class="error">{{msg}}</p>
<br>
{% endfor %}

<form action="/answer" method="POST" class="question-form">

    <label for="question">{{page_dict['question']}}</label><br>
    {% for choice in page_dict['choices'] %}
    <input type="radio" class="answer" name="answers" id="{{choice}}" value="{{choice}}">
    <label for="answers">{{choice}}</label>
    <br>
    {% endfor %}
    {% if page_dict['allow_text'] %}
    <label for="comments"></label>
    <input type="text" name="comments" id="comments">
    {% endif %}
    <input type="text" style="display:none;" name="ident" value="{{page_dict['index']+1}}" id="{{page_dict['index']+1}}">
    <input type="submit" value="Submit">

</form>

{% endblock %}